<% include ../partials/header %>

<!-- partial container class in header -->
    <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <h1>Edit <%= campground.name %></h1>
          </div>

           <div class="col-xs-12 col-md-6 col-lg-4">
            <!-- NOTE _method=PUT. this changes the post request into a put, via method-override package -->
            <form  action="/campgrounds/<%= campground._id %>/?_method=PUT" method="POST">
                <!-- give each form some spacing by using form-group class -->
                <div class="form-group">
                    <!-- use form-control class to make each input it's own line -->
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" value="<%= campground.name %>">
                </div>

                <div class="form-group">
                    <label for="cost">Cost</label>
                    <input class="form-control" type="number" name="cost" value="<%= campground.cost %>" min="0.01" step="0.01" required>
                </div>

                <div class="form-group">
                    <label for="image">Image Url</label>
                    <input class="form-control" type="text" name="image" value="<%= campground.image %>">
                    <small>Click <a href="https://youtu.be/Bn3weNRQRDE">here</a> for tutorial on how to copy unsplash urls.</small>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" name="description" value="<%= campground.description %>">
                </div>

                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" value="<%= campground.location %>">
                </div>

                <!-- btn-block makes the button take up the entire line -->
                <button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
            </form>

            <a href="/campgrounds/<%= campground._id %>">Go back</a>
        </div>

    </div>

<% include ../partials/footer %>
