<% include ../partials/header %>

<!-- partial container class in header -->
<div class="row">
    <div class="col-md-3">
        <div class="list-group mb-2">
            <li class="list-group-item">Contact: John Doe</li>
            <li class="list-group-item">Phone Number: 555-555-5555</li>
            <li class="list-group-item"><%= campground.location%></li>
        </div>
        <div id="map"></div>
    </div>
    <div class="col-md-9">
        <!-- create card of image -->
        <div class="card mb-3">
            <img class="card-img-top" src="<%= campground.image %>" alt="Site">
            <div class="card-body">
              <p class="float-right">$<%= campground.cost %>/night</p>
                <h5 class="card-title"><%= campground.name %></h5>
                <div class="clearfix"></div>
                <p class="card-text">
                  <em>Submitted by: <u><%= campground.author.username %></u>, <%= moment(campground.createdAt).fromNow() %></em>
                </p>

                <hr/>

                <p class="card-text"><%= campground.description%></p>

                <!-- check if current user is matching id of post -->
                <% if(currentUser && (campground.author.id.equals(currentUser._id) || currentUser.isAdmin )){ %>
                <a class="btn btn-warning" href="/campgrounds/<%=campground._id %>/edit">Edit</a>

                <!-- delete form -->
                <form class="delete-form" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <% } %>

            </div>
        </div>


        <!--------------------- COMMENT SECTION START! ---------------------->
        <div class="card">
            <div class="card-body">
              <!--Setting up the add new comment button that is used for collapsing-->
              <div class="text-right">
                  <a class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                     Add new comment
                  </a>
              </div>

              <!--Comment section title-->
              <h4><strong>Comments</strong></h4>

              <!--Collapse Add a comment form START-->
              <div class="collapse" id="collapseComment">
                  <div class="card border-0">
                      <% if(!currentUser) { %>
                      <!--If the user is not logged in, direct him to the login page-->
                      <p>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</p>
                      <% } %>
                      <% if(currentUser) { %>
                      <!--If the user is logged in, show the new comment form-->
                      <p>Write your comment</p>
                      <form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
                          <div class="form-group">
                              <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                          </div>
                          <div class="form-group">
                              <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
                          </div>
                          <div class="form-group">
                              <button class="btn btn-success btn-sm">Comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                          </div>
                      </form>
                      <% } %>
                  </div>
              </div>
              <!--Collapse Add a comment form END-->

              <hr>

              <!--Check if there are comments, if there are none say no comments.-->
              <% if (campground.comments.length === 0) { %>
              <em style="color: grey;">No comments yet.</em>
              <% } %>

              <!--Display comments by looping through them-->
              <% campground.comments.forEach(function(comment) { %>
              <div class="row">
                  <div class="col-md-12">
                      <strong class="mb-1">
                        <!--Print out the author username-->
                        <%= comment.author.username %>:
                      </strong>
                      <!--Show when the comment was made-->
                      <span class="float-right"><em>posted <%= moment(comment.createdAt).fromNow() %></em></span>
                      <!--Printing the comment-->
                      <p class="ml-2"><%= comment.text %></p>
                      <div class="clearfix"></div>
                      <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
                      <% if (currentUser && (currentUser._id.equals(comment.author.id) || currentUser.isAdmin)) { %>
                        <!--Delete comment button-->
                        <form id="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
                          <button class="btn btn-sm btn-danger float-right">Delete</button>
                        </form>
                      <!--Edit button used for collapsing the edit comment form-->
                      <a class="btn btn-sm btn-warning float-right" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">
                          Edit</a>
                      <!--Edit comment form-->
                      <div class="collapse" id="collapseEdit<%= comment._id %>">
                          <div class="card border-0">
                              <p>Edit your comment</p>
                              <form id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                                  <div class="form-group">
                                      <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                                  </div>
                                  <div class="form-group">
                                      <textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
                                  </div>
                                  <div class="form-group">
                                      <button class="btn btn-secondary btn-sm">Edit comment</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                      <% } %>
                      <br/>
                      <hr/>
                  </div>
              </div>
              <% }) %>
            </div>
        </div>
        </div>
      </div>
        <!--------------------- COMMENT SECTION END! ------------------------->


    <script>
      function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
          <strong><%= campground.name %><br />
          <%= campground.location %></strong>
          <p><%= campground.description %></p>
        `
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= mapAPI %>&callback=initMap"></script>

<% include ../partials/footer %>
