<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <!-- create thumbnail of image-->
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campgroundz.image %>">

                <!-- all other info with respect to image -->
                <div class="caption">
                    <h4 class="pull-right">$9.00/night</h4>
                    <h4><a><%= campgroundz.name%></a></h4>
                    <p><%= campgroundz.description%></p>
                    <p>
                       <em>Submitted By: <%= campgroundz.author.username %></em> 
                    </p>

                </div>
            </div>


            <div class="well">
                <div class="text-right">
                    <p>
                        <a class="btn btn-primary" href="/campgrounds/<%= campgroundz._id %>/comments/new">Add New Comment</a>
                    </p>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <% campgroundz.comments.forEach(function(comment){ %>

                            <%= comment.author.username %>
                            <span class="pull-right">10 days ago</span>

                            <p>
                                <%= comment.text %>
                            </p>

                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<% include ../partials/footer %>
